@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikThin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikExtralight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikExtralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikLight.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikRegular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikRegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikSemibold.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikSemiboldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikBlack.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikBlackItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikSuper.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/graphik/GraphikSuperItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
