// Header Styles
HEADER {
    background-color: $light-grey;
}

// Logo (a)
A.navbar-brand.inverse-colors {
    DIV {
        SPAN {
            color: $white;
        }
    }
}
A.navbar-brand {
    font-family: 'Almarai', sans-serif;
    IMG {
        vertical-align: middle;
        height: 45px;
    }
    DIV {
        display: inline-block;
        vertical-align: middle;
        SPAN {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #000000c9;
            display: block;
        }
    }
}

// Menu Button
.menu-toggle {
    cursor: pointer;
    position: relative;
    .bars {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        .bar {
            display: block;
            width: 17px;
            height: 2px;
            background: #000;
            border-radius: 0px;
            margin-bottom: 5px;
            margin-top: 5px;
        } 
    }
    .bars.toggle-close {
        display: inline-block;
        :first-child {
            transform: translate(0, 0) rotate(68deg);
        }
        :last-child {
            transform: translate(0, -7px) rotate(-24deg);
        }
        .bar {

        }
    }
    .toggle-close {
        display: none !important;
    }
    SPAN {
        vertical-align: middle;
        text-transform: uppercase;
    }
}

#css-toggle {
    opacity: 0;
    width: 70px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.submenu-toggle {
display: none;
position: fixed;
width: 100%;
height: 100%;
left: 0;
right: 0;
}

#css-toggle:checked ~ .submenu-toggle {
display: block;
}

#css-toggle:checked ~ .toggle-open {
    display: none !important;
}

#css-toggle:checked ~ .toggle-close {
    display: unset !important;
}

FOOTER {
    background: #0c1820;
    padding-top: 22px;
    .copyright-text {
        border-top: 1px solid #838383;
        margin-top: 10px;
        padding-top: 10px;
    }
    P {
        font-family: 'Graphik';
        font-size: 0.85rem;
        color: #FFF;
    }
}
