// Header Styles
HEADER {
    background-color: $light-grey;
}

// Logo (a)
A.navbar-brand {
    font-family: 'Almarai', sans-serif;
    IMG {
        vertical-align: middle;
        height: 45px;
    }
    DIV {
        display: inline-block;
        vertical-align: middle;
        SPAN {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #000000c9;
            display: block;
        }
    }
}

// Menu Button
.menu-toggle {
    cursor: pointer;
    .bars {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        .bar {
            display: block;
            width: 17px;
            height: 2px;
            background: #000;
            border-radius: 0px;
            margin-bottom: 5px;
            margin-top: 5px;
        } 
    }
    SPAN {
        vertical-align: middle;
        text-transform: uppercase;
    }
}

FOOTER {
    background: #0c1820;
    padding-top: 22px;
    .copyright-text {
        border-top: 1px solid #838383;
        margin-top: 10px;
        padding-top: 20px;
    }
    P {
        color: #FFF;
    }
}
