<!-- Footer -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.min.css" type="text/css"/>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
 <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet"> 

<script src="javascript.min.js" type="module"></script>
