<footer>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-6">
                <a class="navbar-brand inverse-colors d-flex align-items-center" href="#">
                    <img src="images/logo-white.svg" alt="" loading="lazy"/>
                    <div>
                        <span>derive</span><span>alpha</span>
                    </div>
                </a>
            </div>
            <div class="col-6">
            </div>
        </div>
    <div class="container">
        <div class="row justify-content-between copyright-text">
                <div class="col-6"> 
                    <p class="text-sm-left"><i class="fa fa-copyright"></i> 2020 Fraemohs Homes. All Rights Reserved.</p>
                </div>
                <div class="col-6"> 
                    <p class="text-sm-right">
                    <span>Designed &amp; developed by</span> xxxxx
                    </p>
                </div>
        </div>
    </div>
</footer>
<!-- Footer -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.min.css" type="text/css"/>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
 <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet"> 

<script src="javascript.min.js" type="module"></script>
