<header class="navbar">
    <div class="container justify-content-between">
        <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="images/logo.svg" alt="" loading="lazy"/>
                <div>
                <span>derive</span><span>alpha</span>
                </div>
            </a>

        <div class="menu-toggle">
            <input type="checkbox" id="css-toggle" checked/>
            <div class="bars toggle-open">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <span class="toggle-open">menu</span>
            <div class="bars toggle-close">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <span class="toggle-close">close</span>
            <div class="submenu-toggle">

                <nav id="full-dropdown" class="submenu collapse">

                    <div class="container justify-content-between">
                        <a class="navbar-brand inverse-colors d-flex align-items-center" href="endhame">
                            <img src="images/logo-white.svg" alt="" loading="lazy"/>
                            <div>
                                <span>derive</span><span>alpha</span>
                            </div>
                        </a>
                    </div>

                    <div class="container justify-content-end align-items-start header-menu">

<div class="menu-item">

    <a href="#">Tools</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="#dfd">Strategy Builder</a></li>
        <li class="menu-item"><a href="#dfdd">Options Value</a></li>
    </ul>

</div>

<div class="menu-item">

    <a href="#">About</a>
    <ul class="sub-menu">
        <li class="menu-item"><a href="#">About</a></li>
        <li class="menu-item"><a href="#">Terms of Service</a></li>
        <li class="menu-item"><a href="#">Privacy Policy</a></li>
    </ul>

</div>

                        </div>

                </nav>

            </div>
        </div>
    </div>
</header>
